#titleLabel {
    -fx-font-family: "DVN-Poppins ExtBd";
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-text-fill: #44bc91;
}

#backButton {
    /*Không cần nhúng ảnh này vì nó rất phức tạp và nhiều lỗi*/
    -fx-background-color: transparent;

}

#frontLabel {
    -fx-font-weight: bold;
}

#backLabel {
    -fx-font-weight: bold;
}

#newDeckButton {
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
    -fx-background-radius: 16px;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-background-color: #44bc91;
    -fx-font-size: 12px;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.1) , 10,0,0,1 );
}

#newDeckButton:pressed:hover {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

#newDeckButton:hover {
    -fx-background-color: #40A578;
    -fx-scale-y: 1.1;
}

#frontText {
    -fx-border-radius: 3px;
    -fx-border-color: #000;
}

#backText {
    -fx-border-radius: 3px;
    -fx-border-color: #000;
}

#addCardButton {
    -fx-text-fill: #fff;
    -fx-background-color: #44bc91;
    -fx-background-radius: 16px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.1) , 10,0,0,1 );

}
/*Khi di chuột vào*/
#addCardButton:pressed:hover {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

#addCardButton:hover {
    -fx-background-color: #40A578;
    -fx-scale-y: 1.1;
}

#tableView {
    -fx-border-radius: 5px;
    -fx-border-color: #000;
}

/*Căn giữa text trong bảng*/
#tableView .table-column {
    -fx-alignment: center;
}

#selectDeck {
    -fx-border-color: black;
    -fx-border-radius: 5px;
    -fx-background-color: transparent;
}

