#titleLabel {
    -fx-font-family: "Poppins";
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-font-size: 26px;
    -fx-font-weight: 700;
    -fx-text-fill: #44bc91;
}


#newcardButton {
    -fx-text-fill: #fff;
    /*-fx-font-family: "DVN-Poppins";*/
    /*Nó chỉ có 2 weight font */
    -fx-font-weight: bold;
    -fx-background-radius: 16px;
    -fx-background-color: #44bc91;
    /*Đang cân nhắc cho :hover ở đoạn này*/
    /*-fx-cursor: pointer;*/
    -fx-text-alignment: center;
    -fx-alignment: center;
}

#statisticsButton {
    -fx-text-fill: #fff;
    -fx-background-color: #44bc91;
    -fx-background-radius: 16px;
    -fx-font-weight: bold;
}

#menubarMain {
    /*-fx-background-color: #;*/
    -fx-background-radius: 10px 0;
    /* Lệnh này căn giữa trái - phải*/
    -fx-alignment: center;
    /*-fx-column-halignment: center;*/
    -fx-text-alignment: center;
    /*-fx-stroke: #44bc91;*/
    /*-fx-stroke-width: 2;*/
}

/*#settingButton {*/
/*    -fx-background-color: transparent;*/
/*    -fx-graphic: url(png/settings3.png);*/
/*}*/