#titleAddDeck {
    -fx-font-family: "Poppins";
    -fx-font-weight: bold;
    -fx-text-fill: #44bc91;
    -fx-font-size: 17px;
}

#nameDeck {
    -fx-font-weight: bold;
    -fx-underline: true;
}

#describeText {
    -fx-font-weight: bold;
    -fx-underline: true;
}

#confirmButton {
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
    -fx-background-radius: 16px;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-background-color: #44bc91;
    -fx-font-size: 12px;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.1) , 10,0,0,1 );
}

#confirmButton:pressed:hover {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

#confirmButton:hover {
    -fx-background-color: #40A578;
    -fx-scale-y: 1.1;
}