#settingTitle {
    -fx-font-family: "DVN-Poppins ExtBd";
    -fx-text-fill: #44bc91;
    -fx-font-weight: 800;
}

#backtoMainButton {
    -fx-background-color: transparent;
}

/*#nameColumn {*/
/*    -fx-alignment: center;*/
/*    -fx-text-alignment: center;*/
/*}*/

